<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>S0:</strong>
  <%= @category.s0 %>
</p>

<p>
  <strong>S1:</strong>
  <%= @category.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @category.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @category.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @category.s4 %>
</p>

<p>
  <strong>S5:</strong>
  <%= @category.s5 %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
